.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
node_modules
effigy.dmb
effigy.int
effigy.rsc
effigy.lk
effigy.dyn.rsc
*.dll
Dockerfile
tools/bootstrap/.cache
