.Button--color--transparent {
  color: var(--color-light-grey);
}

.Button--color--transparent.candystripe {
  color: var(--color-light-grey);
}

.Button--color--caution {
  color: var(--color-text-fixed-black);
}

.Button--color--good {
  color: var(--color-text-fixed-black);
}

.Button--color--average {
  color: var(--color-text-fixed-black);
}

.Button--color--blue {
  color: var(--color-text-fixed-black);
}

.Button--color--green {
  color: var(--color-text-fixed-black);
}

.Button--color--olive {
  color: var(--color-text-fixed-black);
}

.Button--color--teal {
  color: var(--color-text-fixed-black);
}

.Button--selected {
  color: var(--color-text-fixed-black);
}
