.Button--color--transparent {
  color: var(--button-color-transparent);
}

.Button--color--caution {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--good {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--average {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--blue {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--green {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--olive {
  color: var(--color-text-fixed-black) !important;
}

.Button--color--teal {
  color: var(--color-text-fixed-black) !important;
}

.Button--selected {
  color: var(--color-text-fixed-black) !important;
}
