.UnreadCount {
  pointer-events: none;
  position: absolute;
  top: calc(-1 * var(--space-s));
  right: calc(-1 * var(--space-s));
  font-size: 0.65em;
  padding: 0 var(--space-s);
  /* EffigyEdit Change - TGUI
  border-radius: var(--border-radius-small);
  line-height: 1.25em;
  background-color: var(--color-red);
  color: var(--color-white);
  */
  border-radius: var(--border-radius-none);
  line-height: 1.25em;
  min-width: 1.25em;
  background-color: var(--color-yellow);
  color: var(--color-black);
  // EffigyEdit Change End
}
